.annoto-player-element.nn-side-panel {
     .playkit-player {
        transition: width ease-in-out 0.2s;
        width: calc(100% - var(--nn-side-panel-width));
        left: 0;
    }
    &.nn-side-panel-left {
     .playkit-player {
            left: auto;
            right: 0;
            float: right;
        }
    }
    &.nn-player-side-panel-right,
    &.nn-player-side-panel-left {
        .playkit-video-player > .playkit-container {
            transition: width ease-in-out 0.2s;
            width: calc(100% - var(--nn-side-panel-width));
            left: 0;
        }
        &.nn-side-panel-left {
            .playkit-video-player > .playkit-container {
                left: auto;
                right: 0;
                float: right;
            }
        }
    }
}

.annoto-player-element {
    .playkit-annoto-timeline {
        width: 100%;
        position: absolute;
        bottom: calc(100% - 8px);
    }
    .playkit-seek-bar {
        .playkit-frame-preview {
            bottom: 44px;
        }
        .playkit-time-preview {
            bottom: 50px;
        }
    }
}

.nnk-widget.nnk-setup {
    #mediaContainer {
        #wrapper.video {
            overflow: visible;
            .playkit-floating-container {
                overflow: visible;
            }
        }
    }
}

.playkit-floating-container {
    &.playkit-floating-active {
        .kaltura-player-container:not(:fullscreen) {
            nn-widget-overlay {
                .annoto-resizable {
                    visibility: hidden;
                }
            }
        }
    }
}

.annoto-playkit-plugin-iframe-embed-fix,
.annoto-playkit-plugin-iframe-embed-fix body {
    overflow: hidden;
    max-width: none;
    #mediaContainer {
        #wrapper.video {
            padding: 0 !important;
            position: static !important;
            height: auto !important;
        }
    }
}
